@model PROGETTO_S2.Models.Prenotazione

<h2>Dettagli Prenotazione</h2>

<div>
    <h4>Prenotazione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data Prenotazione
        </dt>
        <dd class="col-sm-10">
            @Model.DataPrenotazione
        </dd>
        <dt class="col-sm-2">
            Numero Progressivo
        </dt>
        <dd class="col-sm-10">
            @Model.NumProgressivo
        </dd>
        <dt class="col-sm-2">
            Anno
        </dt>
        <dd class="col-sm-10">
            @Model.Anno
        </dd>
        <dt class="col-sm-2">
            Soggiorno Dal
        </dt>
        <dd class="col-sm-10">
            @Model.SoggiornoDal
        </dd>
        <dt class="col-sm-2">
            Soggiorno Al
        </dt>
        <dd class="col-sm-10">
            @Model.SoggiornoAl
        </dd>
        <dt class="col-sm-2">
            Caparra
        </dt>
        <dd class="col-sm-10">
            @Model.Caparra
        </dd>
        <dt class="col-sm-2">
            Tariffa
        </dt>
        <dd class="col-sm-10">
            @Model.Tariffa
        </dd>
        <dt class="col-sm-2">
            Tipo Pensione
        </dt>
        <dd class="col-sm-10">
            @Model.TipoPensione
        </dd>
        <dt class="col-sm-2">
            Identificativo cliente
        </dt>
        <dd class="col-sm-10">
            @Model.IdPersona
        </dd>
        <dt class="col-sm-2">
            Identificativo camera
        </dt>
        <dd class="col-sm-10">
            @Model.IdCamera
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

