@model IEnumerable<PROGETTO_S2.Models.Prenotazione>

<h2 class="font-personal my-4">Elenco prenotazioni:</h2>
<hr />

@if (Model != null && Model.Any())
{
    <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered border-personal">
            <thead class="bg-personal">
                <tr>
                    <th class="text-light fst-italic">Data Prenotazione</th>
                    <th class="text-light fst-italic">Numero Progressivo</th>
                    <th class="text-light fst-italic">Anno</th>
                    <th class="text-light fst-italic">Soggiorno Dal</th>
                    <th class="text-light fst-italic">Soggiorno Al</th>
                    <th class="text-light fst-italic">Caparra</th>
                    <th class="text-light fst-italic">Tariffa</th>
                    <th class="text-light fst-italic">Tipo Pensione</th>
                    <th class="text-light fst-italic">Identificativo cliente</th>
                    <th class="text-light fst-italic">Identificativo camera</th>
                    <th class="text-light fst-italic">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prenotazione in Model)
                {
                    <tr>
                        <td>@prenotazione.DataPrenotazione.ToShortDateString()</td>
                        <td>@prenotazione.NumProgressivo</td>
                        <td>@prenotazione.Anno</td>
                        <td>@prenotazione.SoggiornoDal.ToShortDateString()</td>
                        <td>@prenotazione.SoggiornoAl.ToShortDateString()</td>
                        <td>@prenotazione.Caparra</td>
                        <td>@prenotazione.Tariffa</td>
                        <td>@prenotazione.TipoPensione</td>
                        <td>@prenotazione.IdPersona</td>
                        <td>@prenotazione.IdCamera</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a class="btn btn-personal" asp-controller="Managment" asp-action="AddServizioAgg" asp-route-idPrenotazione="@prenotazione.IdPrenotazione">Agg. Servizio</a>
                                <a class="btn btn-personal2" asp-controller="Managment" asp-action="CheckoutPrenotazioni" asp-route-idPrenotazione="@prenotazione.IdPrenotazione">Checkout</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning font-personal" role="alert">
        Nessuna prenotazione trovata.
    </div>
}
