@model IEnumerable<PROGETTO_S2.Models.Prenotazione>

<h2>Elenco prenotazioni:</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Data Prenotazione</th>
                <th>Numero Progressivo</th>
                <th>Anno</th>
                <th>Soggiorno Dal</th>
                <th>Soggiorno Al</th>
                <th>Caparra</th>
                <th>Tariffa</th>
                <th>Tipo Pensione</th>
                <th>Identificativo cliente</th>
                <th>Identificativo camera</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.DataPrenotazione</td>
                    <td>@prenotazione.NumProgressivo</td>
                    <td>@prenotazione.Anno</td>
                    <td>@prenotazione.SoggiornoDal</td>
                    <td>@prenotazione.SoggiornoAl</td>
                    <td>@prenotazione.Caparra</td>
                    <td>@prenotazione.Tariffa</td>
                    <td>@prenotazione.TipoPensione</td>
                    <td>@prenotazione.IdPersona</td>
                    <td>@prenotazione.IdCamera</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@prenotazione.IdPrenotazione">Dettagli</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nessuna prenotazione trovata.</p>
}
