@model PROGETTO_S2.Models.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Numero Camera</th>
            <th>Soggiorno Dal</th>
            <th>Soggiorno Al</th>
            <th>Tariffa</th>
            <th>Caparra</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.NumeroCamera</td>
            <td>@Model.SoggiornoDal.ToShortDateString()</td>
            <td>@Model.SoggiornoAl.ToShortDateString()</td>
            <td>@Model.Tariffa.ToString("C")</td>
            <td>@Model.Caparra.ToString("C")</td>

        </tr>
    </tbody>
</table>

<h2>Additional Services</h2>
<select id="additionalServicesDropdown">
    @foreach (var servizio in Model.ServiziAgg)
    {
        <option readonly value="@servizio.ServizioAgg">
            @servizio.ServizioAgg - @servizio.Quantita x
            @(servizio.Prezzo.HasValue ? servizio.Prezzo.Value.ToString("C") : "N/A")
        </option>
    }
</select>

<!-- Centered Importo da Saldare -->
<div style="text-align: center; margin-top: 20px;">
    <h2>Importo da Saldare</h2>
    <h3>@Model.ImportoDaSaldare.ToString("C")</h3>
</div>