@model IEnumerable<PROGETTO_S2.Models.CheckoutModel>

<h2>Checkout Prenotazioni</h2>

<table class="table">
    <thead>
        <tr>

            <th>Numero Camera</th>
            <th>Soggiorno Dal</th>
            <th>Soggiorno Al</th>
            <th>Tariffa</th>
            <th>Caparra</th>
            <th>Servizio Aggiuntivo</th>
            <th>Data Servizio</th>
            <th>Quantità</th>
            <th>Prezzo</th>
            <th>Importo Da Saldare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prenotazione in Model)
        {
            <tr>
                <td>@prenotazione.NumeroCamera</td>
                <td>@prenotazione.SoggiornoDal.ToString("dd/MM/yyyy")</td>
                <td>@prenotazione.SoggiornoAl.ToString("dd/MM/yyyy")</td>
                <td>@prenotazione.Tariffa.ToString("C")</td>
                <td>@prenotazione.Caparra.ToString("C")</td>
                <td>@prenotazione.ServizioAggiuntivo</td>
                <td>@prenotazione.DataServizio?.ToString("dd/MM/yyyy")</td>
                <td>@prenotazione.Quantita</td>
                <td>@prenotazione.Prezzo?.ToString("C")</td>
                <td>@prenotazione.ImportoDaSaldare.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Torna alla Home</a>
